extends base

block bodyContent
    +header
    if socialEnabled
        +socialMedia

    block pageBody

    +footer

mixin header
    div.navbar
        a(href='/') Home
        a(href='/blog') Blog

mixin footer
    hr
    div.container
        footer Copyright &copy #{year} Fishing for Compliments

mixin socialMedia
    div.socialMedia 
        div.title Share
        div.shareWrap
            div.fb-share.share(data-href="#{myPath}" data-image="#{socialImageUrl}" data-title="#{title}" data-desc="#{socialDescription}") f
        div.shareWrap
            a.twitter-share.share(href="https://twitter.com/share?text=&amp;url=#{myPath}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=260,width=600');return false;")
                img.icon(src="/images/Twitter_logo_white.png" alt="share on twitter")
